# ignore build artifacts
bin/
dist/
build/

# ignore dependencies
libs/

# ignore MacOS stuff
**/.DS_Store

# ignore IntelliJ configuration
*.iml
.idea/

# ignore Jetson training cache
*.tensorcache


